## **Applying a Function**

One can use `apply()` function in order to apply function to every row in given dataframe. Let’s see the ways we can do this task.

In [1]:
import pandas as pd
import numpy as np

NumPy functions work synchronously with Pandas. To demonstrate this, let’s first create a data set called df in a DataFrame structure.

In [2]:
df=pd.DataFrame(
    data=[[-1, 2, 3],[4, -5, 6],[7, 8, 9]],
    columns=list("ABC"),
    index=["Kim","Susan","Tim"])
df

       A  B  C
Kim   -1  2  3
Susan  4 -5  6
Tim    7  8  9

The abs function used to get absolute values in the NumPy module can be used for the DataFrame.

In [3]:
np.abs(df)

       A  B  C
Kim    1  2  3
Susan  4  5  6
Tim    7  8  9

If we want, we can apply a function for each column or row. The apply () method makes the function apply to the data set.

First, let’s write a function that calculates the difference between the maximum and minimum values of the columns, and we can use the lambda keyword for this.

In [4]:
f=lambda x:x.max()-x.min()

In [5]:
df.apply(f) # by default axis=0 or axis='index'

A     8
B    13
C     6
dtype: int64

If we want to execute this function on each row, write columns or 0 to the axis argument.

In [6]:
df.apply(f,axis=1) # axis=1 or axis='columns'

Kim       4
Susan    11
Tim       2
dtype: int64

If we want, we can apply the function we have written for the DataFrame. For example, let’s write a simple function.

In [7]:
def fu(x):
    return x**2

Now, let’s apply the `fu` function we wrote down to the data set.

In [8]:
df.apply(fu)

        A   B   C
Kim     1   4   9
Susan  16  25  36
Tim    49  64  81

If we wanted to do operations with columns.

In [9]:
def add(row):
    return row['A']+row['B']+row['C']

df.apply(add, axis=1)

Kim       4
Susan     5
Tim      24
dtype: int64

In [10]:
# or
def add2(a,b,c):
    return a+b+c
df.apply(lambda row: add2(row['A'],row['B'],row['C']), axis=1)

Kim       4
Susan     5
Tim      24
dtype: int64

or You can use the numpy function as the parameters to the dataframe as well.

In [11]:
df.apply(np.sum, axis=1)

Kim       4
Susan     5
Tim      24
dtype: int64