In [1]:
# Download an unzip data
# https://drive.google.com/file/d/12irq-mn0mom28AZsDlsHmNpvXekOkTQ7/view?usp=sharing

#import gdown
#gdown.download(id='12irq-mn0mom28AZsDlsHmNpvXekOkTQ7')
#
#
#import zipfile
#with zipfile.ZipFile('Ejercicio_Python.zip', 'r') as zip_ref:
#    zip_ref.extractall()
#

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Ejercicio_Python/MB_200_300_hyr.csv')
df.head()

,block_id,volume,veta,categ,densidad,minado,au_ppm,ag_ppm,pb_pct,zn_pct
0,0,0.125,1,-99,-99.0,0,0.0,0.0,0.0,0.0
1,1,0.125,1,-99,-99.0,0,0.0,0.0,0.0,0.0
2,2,0.500,1,-99,-99.0,0,0.0,0.0,0.0,0.0
3,3,1.500,1,-99,-99.0,0,0.0,0.0,0.0,0.0
4,4,0.250,1,-99,-99.0,0,0.0,0.0,0.0,0.0

In [4]:
df.dropna(inplace=True)

In [5]:
df['categ'].unique()

array([-99,   4,   3,   2,   1])

In [13]:
categ = [1,2,3,4]
filt = (df['categ'].isin(categ)) & (df['veta']>1)
df_filt = df[filt]
df_filt.head()

,block_id,volume,veta,categ,densidad,minado,au_ppm,ag_ppm,pb_pct,zn_pct
70169,70169,0.125,200,4,2.57,0,-99.0,-99.0,-99.0,-99.0
70180,70180,0.125,200,4,2.57,0,-99.0,-99.0,-99.0,-99.0
70184,70184,0.125,200,4,2.57,0,-99.0,-99.0,-99.0,-99.0
70199,70199,0.125,200,4,2.57,0,-99.0,-99.0,-99.0,-99.0
70200,70200,0.125,200,4,2.57,0,-99.0,-99.0,-99.0,-99.0

In [16]:
def tonelaje(fila):
    return fila['volume']*fila['densidad']

def prom_x(x):
    pass


df_filt['tonelaje']=df_filt.apply(tonelaje, axis=1)
df_filt

:

:

In [ ]:
df_filt.groupby(by=['veta', 'categ']).mean()

In [7]:
df['veta'].unique()

array([  1, 302, 200, 309, 311, 307, 303, 308, 208, 203, 306, 310, 209,
       207, 312, 301, 300, 204, 305, 304, 201, 205, 206])